body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  padding-bottom: 3.75rem;
}

/* header style vv */
header {
  background-color: #f2f2f2;
  height: 240px;
  user-select: none;
}

#header_div {
  text-align: center;
  display: block;
  max-width: 764px;
  margin: 0 auto;
}

#logo_div {
  height: 77px;
}

#logo {
  color: #222;
  font-family: "GFS Didot", serif;
  font-size: 59px;
  font-weight: 300;
  margin: 0 auto;
  line-height: 1.2;
}

#sub_logo {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
}

.logo_rects {
    max-width: 132px;
    width: 100%;
    height: auto;
}

#logo_img1 {
  position: relative;
  left: 50%;
  transform: translate(-50%) rotate(180deg);
}

#logo_img2 {
  position: relative;
  left: -50%;
  top: 14px;
  transform: translate(50%);
}

/* main style vv */
h2 {
  font-family: "GFS Didot", serif;
  font-size: 24px;
  font-weight: 300;
  margin-top: 50px;
}

main > div {
  text-align: center;
}

input,
button,
select {
  width: 320px;
  height: 40px;
  border: none;
  font-size: 16;
}

input,
select {
  border-bottom: 3px solid #222;
  margin-top: 12px;
  color: #222;
  padding: 0;
}

select {
  background-color: transparent;
}

input:focus,
select:focus {
  outline: none;
}

button {
  background-color: #222;
  color: #fff;
  margin-top: 24px;
}

nav {
  width: 100%;
  background: #222;
  text-align: center;
}

nav > a {
  color: #fff;
  padding: 22px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
}

.current_page {
  background-color: #ffffff1f;
}

/* filtros vv */

#simple_filter,
#advanced_filter {
    /* max-width: 320px; */
    /* margin-left: 60px; */
    float: left;
    width: 22.92%;
}

#simple_filter > h2,
#advanced_filter > h2 {
    margin-bottom: 0;
}

.filter_btn {
    margin-top: 0;
    font-size: 8px;
    max-width: 60px;
    max-height: 14px;
}

.price {
    max-width: 154px;
}

#min_price {
    margin-right: 7px;
}

#start_search {
    float: left;
    width: 54.2%;
    margin-top: 56px;
    margin-bottom: 200px;
}

#search_img {
    max-width: 234px;
    width: 100%;
    height: auto;
}

#search_sub {
    font-size: 14px;
    font-weight: 300;
    color: #222;
    border-top: 8px solid #222;
    max-width: 234px;
    margin: 8.5px auto;
    padding: 12px;
}


#preco {
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: black;
  font-size: 18pt;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'GFS Didot',serif;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#descricao {
  color: black;
  text-align: center;
  font-family: Montserrat, sans-serif;;
  font-size: 10pt;
}

#titulo {
  color: black;
  text-align: center;
  font-family: 'GFS Didot',serif;
  font-size: 18pt;
  font-weight: 300;
  margin: 0.5rem 0;
}

#card {
  position: relative;
  width: 300px;
  height: 405px;
  border: 3px solid black;
}

#cards {
  display: flex;
  padding-top: 60px;

}

#container_card {
  padding-left: 50px;
}

#card img {
  width: 100%;
}


#position {
   padding-top: 30px;
   padding-left: 430px;
}
